@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@property --scale {
    syntax: "<number>";
    inherits: false;
    initial-value: 1.0;
}

@property --shift {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0;
}

.mul-game {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 75vh 1fr;
    grid-template-rows: 1fr 75vh 1fr;
    grid-template-areas:
        "...  nav   ..."
        "prev board next"
        "...  ...   ...";
}

.game-board {
    grid-area: board;
    --angle: 0deg;
    --scale: 1.0;
    opacity: 1;
    transform: scale(var(--scale)) rotate(var(--angle));
    transition: opacity 1.5s ease-in, --angle 1.5s ease-in-out, --scale 1.5s ease-in-out;

    border-collapse: collapse;
    z-index: 100;

}
.mul-game.transition-out .game-board {
    --angle: 90deg;
    --scale: 0.0;
    opacity: 0;
}
.game-board td {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    width: 10%;
    height: 10%;
    border: 4px solid #ccc;
    color: #666;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    position: relative;
}
.game-board tr:first-child td {
    border-top: none;
}
.game-board tr:last-child td {
    border-bottom: none;
}
.game-board td:first-child {
    border-left: none;
}
.game-board td:last-child {
    border-right: none;
}

.riddle-controls input[type="radio"] {
    display: none;
}

.riddle-controls label {
    background-color: #ddd;
    color: #c60;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 300;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.riddle-controls.with-guess label {
    color: #00d;
}

.riddle-controls:has(input[type="radio"]:checked) label {
    outline: 6px solid #000;
    border-radius: 6px;
    border: none;
    background-color: #aaa;
}

.riddle-controls input[type="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 200;
    transition: all 0.3s ease-out;
    opacity: 0;
    appearance: none;
    --webkit-appearance: none;
    border: 0;
    border-radius: 16px;
    box-shadow: inset 4px 4px 8px #fff, inset -4px -4px 8px #000;
    background: linear-gradient(145deg, #222 0%, #ddd 100%);
    color: #c60;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    color: #000;

    --index: 0;
    --initial-angle: calc(var(--index) * 90deg);
    --angle: var(--initial-angle);
    --scale: 1.0;
    --shift: 0%;
    transform: scale(var(--scale)) rotate(var(--angle)) translate(var(--shift), 0) rotate(calc(var(--angle) * -1));
}

.riddle-controls:has(input[type="radio"]:checked) input[type="button"] {
    /*width: 130%;
    height: 130%;*/
    --angle: calc(var(--initial-angle) + 135deg);
    --scale: 1.2;
    --shift: 140%;
    opacity: 0.85;
    transition: all 0.3s ease-out;
}
.riddle-controls:has(input[type="radio"]:checked) input[type="button"]:hover {
    transition: all 0.2s ease-in;
    opacity: 1;
    /*background: linear-gradient(145deg, #444 0%, #fff 100%);*/
    filter: brightness(1.3);
}

.board-nav button {
    width: 6.5vh;
    height: 6.5vh;
}

.nav-button {
    cursor: pointer;
    appearance: none;
    border-radius: 20%;
    border: 6px solid black;
    background-color: #ddf;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    transition: all 0.1s ease-in;
}
.nav-button:hover {
    transform: scale(1.1);
    background-color: #eef;
}
.nav-button:active {
    transform: scale(0.9);
    background-color: #aaf;
}
.nav-button.current {
    background-color: #fff;
}
.nav-button.correct {
    background-color: #dfd;
}
.nav-button.incorrect {
    background-color: #fdd;
}
.nav-button.partial {
    background-color: #ffd;
}

.next-prev-button {
    width: 13vh;
    height: 10vh;
}

.score-animator {
    --score-animator-size: 100vw;

    grid-area: board;
    justify-self: center;
    align-self: center;
    z-index: -100;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(7, 1fr);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.mul-game.debug .score-animator, .mul-game.transition-out .score-animator {
    z-index: 400;
    display: grid;
    opacity: 1;
}

.mul-game.transition-in .score-animator {
    opacity: 0;
    transition: opacity 0.5s ease-out 1s;
}

@keyframes score-animator-cell-anim { 
    0% {
        transform: translateY(0);
        opacity: 0.2;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        transform: translateY(-100%);
        opacity: 0.2;
    }   
    100% {
        transform: translateY(-100%);
        opacity: 0.2;
    }
}


.score-animator .cell {
    animation: score-animator-cell-anim 2s infinite ease-in-out;
    --score-animator-cell-size: calc(var(--score-animator-size) / 14);
    width: var(--score-animator-cell-size);
    height: calc(var(--score-animator-cell-size) * 2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: calc(var(--score-animator-cell-size) * 0.8);
}

.score-animator .cell:nth-child(2n+1) {
    align-items: flex-end;
    animation-delay: 1s;
}

@keyframes score-animator-hero-anim {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.score-animator .hero {
    animation: score-animator-hero-anim 0.1s linear infinite alternate;
    font-size: calc(var(--score-animator-size) / 5);
    font-weight: bold;
    position: absolute;
    width: var(--score-animator-size);
    height: var(--score-animator-size);
    display: flex;
    justify-content: center;
    align-items: center;
}
