@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@property --scale {
    syntax: "<number>";
    inherits: false;
    initial-value: 1.0;
}


.game-board {
    --angle: 0deg;
    --scale: 1.0;
    opacity: 1;
    transform: scale(var(--scale)) rotate(var(--angle));
    transition: opacity 1.5s ease-in, --angle 1.5s ease-in-out, --scale 1.5s ease-in-out;

    border-collapse: collapse;
}
.mul-game.transition-out .game-board {
    --angle: 90deg;
    --scale: 0.0;
    opacity: 0;
}
.game-board td {
    margin: 0;
    width: 10%;
    height: 10%;
    border: 4px solid #ccc;
    color: #666;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
.game-board tr:first-child td {
    border-top: none;
}
.game-board tr:last-child td {
    border-bottom: none;
}
.game-board td:first-child {
    border-left: none;
}
.game-board td:last-child {
    border-right: none;
}
